@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-color: black;
    font-family: ubuntu, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 3px;
  border-bottom-style: ridge;
  border-bottom-color: yellow;
}

a,button{
    cursor: pointer;
}

button {
    color: rgb(228, 207, 14);
    border: 3px ridge rgb(228, 207, 14);
    background-color: rgb(0,0,0);
    border-radius: 6px;
    box-shadow: 0px 0px 25px rgba(228, 207, 14, 0.8);
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(228, 207, 14);
    border: 3px solid rgb(0, 0, 0);
}

button:active {
    color: rgb(0, 0, 0);
    background-color: rgb(228, 207, 14);
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 5px rgb(0, 0, 0);
    transform: translateY(4px);
}

.banner {
  display: flex;
  align-items: center;
}


#site-logo {
  width: 150px;
  height: auto;
  margin: 10px, 0px;  
}

#site-name-image {
  width: 700px;
  height: auto;
}

nav>ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  margin-right: 10px;
}    

nav ul li a{
    text-decoration: none;
    color: rgb(228, 207, 14);
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
}

nav ul li a:hover{
    color: rgb(185,14,228);
}

nav ul .submenu{
    position: absolute;
    width: 150px;
    background-color: rgb(0,0,0);
    box-shadow: 0 10px 25px rgb(228, 207, 14);
    margin-top: -50px;
    opacity: 0;
    z-index: -2;
    transition: all ease 0.5s;
    list-style: none;
    padding-right: 20px;
}
    
nav ul li:hover .submenu{
    z-index: 2;
    opacity: 1;
    margin-top: 0;
}
    
nav ul .submenu li{
margin: 0;
width: 100%;
} 

nav ul .submenu li a{
padding: 15px 2px;
display: inline-block;
width: 100%;
}

.page-main-body {
    display: flex;
    justify-content:space-between;
}

aside {
    width: 17%;
    padding: 0px;
    margin: 0px;
    background-color: inherit;
    background-image: url(../images/sidebarTransparent.png);
    background-repeat: repeat-y;
    
}

#left-sidebar-banner {
    order: 1;
    left: 0;
    z-index:-5;
}

#right-sidebar-ads {  
    display: flex;
    flex-direction: column;
    order: 3;    
    right: 0;
    background-position: right; 
    align-items: center;
}

#ad-container{
    display: none;
    position: sticky;
    top: 10px;
}

#ad1, #ad2, #ad3{
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-self: center;
    max-width: 254px;
}

#close1,#close2,#close3{
    z-index: 3; 
    display: flex;
    opacity: 40%;
    width:30px;
    height: 0px;
    position: relative;
    top: -15px;
}

#close1:hover ,#close2:hover, #close3:hover, #close1:active ,#close2:active, #close3:active{
    z-index: 3;
    opacity: 100%;
}

#close-container1, #close-container2, #close-container3{
    font-size: 30px;
    color: rgb(228, 207, 14);;
}

.genre-main-section {
    order: 2;
    display:flex;
    flex-direction: column;    
    flex-grow: 5;
    background-color: inherit;
    padding: 20px;    
    justify-content: space-between;
    width: 66%;    
}

.genre-description {
    color: rgb(228, 207, 14);
    text-align: justify;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.genre-description > h1 {
    font-size: 4em;
}

.carousel {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border: thick double rgb(228, 207, 14);
    background-image: url(../images/dust-bckg03.png);
    background-blend-mode: darken;
    background-color:inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.slideshow-container {
    display: flex;
    flex-direction: row;
}

.keySlides {
    display: none;
    padding: 80px;
    text-align: center;
    flex-grow: 5; 
    min-height: 90px;
    max-height: 90px;    
}

.carousel-prev, .carousel-next {
    flex-grow: 1;
    margin-bottom: auto;
    margin-top: auto;
}

.prev, .next {
    cursor: pointer;
    color: rgb(228, 207, 14);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    width: auto;
    padding: 16px;
    background-color: rgba(0,0,0,0.4);
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: rgba(17, 17, 17, 0);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(228, 207, 14);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(113, 113, 113);
}

.key-element {
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.genre-movies {
    margin-top: 150px;
    display:flex;
    align-items: flex-start;
}

.genre-gallery-pics{
    width: 300px;
    transition: transform 250ms ease;
    padding: 30px 15px; 
}

.rec-poster:is(:hover, :focus) img {
    transform: scale(1.03); 
}

.genre-gallery-table {
    margin-left: 100px;  
}

.genre-gallery-table a {
    text-decoration: none;
    color: rgb(228, 207, 14);
    transition: all ease 0.3s;
    font-size: 18px;
}

.genre-gallery-table a:hover {
    color: rgb(185,14,228);
}

td{text-align: center;} 

th,td{padding-left: 10px;padding-right: 10px;}

.movie-infos {
    display:flex;
    align-self: center;
    align-items: flex-end;
    padding-left: 100px;
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    flex-grow: 5;   
}

.movie-infos > p, h2, h3{
    color: rgb(228, 207, 14);
    text-align: center;
}

.movie-infos > h2 {
    font-size: 2em;
}

.movie-infos a {
    font-size: 1.25em;
}

.year-lang-runtime{
    color: rgb(228, 207, 14);
    border: 1px solid;    
}

.year-lang-runtime > th, td {
    border: 1px solid;
}

.random-recs-container {
    display:flex;
    justify-content: space-evenly;  
}

.genre-random-rec {
    display:flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.rec-img {
    width: 275px;
    transition: transform 250ms ease;
    padding: 30px 15px; 
}

.genre-random-rec:is(:hover, :focus) img {
    transform: scale(1.03);
}

.genre-random-rec a {
    text-decoration: none;
    color: rgb(228, 207, 14);
    transition: all ease 0.3s;
    font-size: 18px;
}

.genre-random-rec a:hover {
    color: rgb(185,14,228);
}

.lucky-random {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    font-size: 0.75em;
    color: rgb(228, 207, 14);
    padding: 20px;
    border-top: 7px;
    border-top-style: ridge;
    border-top-color: rgb(228, 207, 14);
}